.colorBG {
    background-color: #4678ab;
}

.ole-bilde {
  border: 10px double;
}

#h3-top {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    color: #4678ab;
}

#Fargeknapp {
    
}