body {
    background-color:rgb(141, 97, 85);
    background-size: cover;
}

.ole-bilde {
  border: 10px double;
}

#h3-top {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    color: aqua;
}

#Fargeknapp {
    
}